# Database configurations
DB_HOST=localhost
DB_PORT=5432
DB_USER=odoo_user
DB_PASS=letmein1!
DB_NAME=New_Neet_Predictor

# Email configurations
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS= 

# AI API configurations
AI_API_TO_USE=perplexity
GEMINI_API_KEY=
PERPLEXITY_API_KEY=

# WATI WhatsApp API Configuration
WATI_API_ENDPOINT=https://live-mt-server.wati.io/10208179
WATI_BEARER_TOKEN=
WATI_TEMPLATE_NAME=counselling_kit_message_to_student
